@import '../../theme.scss';
.Button {
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 48px;
    font-size: 16px;
    background-color: $colorBgPrimary;
    color: $colorPrimary;
    border-radius: 30px;
    font-weight: 500pt;
    text-transform: uppercase;

    &:hover {
        transition: all 0.3s ease-in-out;
        filter: drop-shadow(0 3px 3px ($colorPrimary));
    }

    &_nav {
        width: 150px;
        &:hover {
           transition: all 0.3s ease-in-out;
            
        }
    }

    &_secondary {
        background: $colorPrimary;
        color: $colorSecondary;
    }

    &_outline {
        border: 1px solid $colorPrimary;
    }

    &_heading {
        width: 200px;
    }
    
}