@import '../../theme.scss';
.Grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 48px;

    @media ($tabletSmall){
        grid-template-columns: repeat(2, 1fr);
        column-gap: 32px;
    }

    @media ($desktop){
        grid-template-columns: repeat(3, 1fr);
        column-gap: 48px;
    }
    
    @media ($desktopLarge){
        grid-template-columns: repeat(4, 1fr);
    }
}