@import "../../theme.scss";

.Header 
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px;
    width: 100%;
    z-index: 1;

    @media ($desktop) {
        padding: 32px 0;
    }

    &.Header_secondary{
        position: initial;
        background-color: $colorTextPrimary;
    }

    &-Inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media ($desktop) {
            width: 960px;
            margin: 0 auto;
        }

        @media ($desktopLarge) {
            width: 1260px;
        }
    }

    &-Logo {
        width: 140px;
    }

    &-Hamburger {
        width: 30px;
        height: auto;

        path {
            fill: $colorSecondary;
        }

        @media ($desktop) {
            display: none;
        }
    }

    &-Nav {
        display: none;

        @media ($desktop) {
            display: block;
        }
    }

    &-NavLink {
        text-decoration: none;
        display: inline-block;
        color: $colorSecondary;
        letter-spacing: 1px;
        margin-right: 48px;
        transition: color 0.3s ease-out;
        z-index: 2;

        &_selected{
            color: $colorPrimary;
            text-decoration: underline;
        }

        &:hover {
            color: $colorPrimary;
        }
    }

    &-NavButton {
        text-decoration: none;
        display: inline-block;
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }
}