@import '../../theme.scss';

.Section {
    padding: 60px 24px;

    @media ($desktop){
        padding: 120px 0;
    }
    
    &_testimonials {
        background-color: $colorBgSecondary;
    }

    &-Inner {
        @media ($desktop){
            width: 960px;
            margin: 0 auto;
        }

        @media (min-width: 1300px){
            width: 1260px;
        }
    }

    &-ActionText {
        display: block;
        color: $colorPrimary;
        font-weight: 500pt;
        margin-bottom: 24px;
    }
    
    &-Heading {
        margin-bottom: 64px;
        

        @media (min-width: 768px){
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    &-Title {
        color: $colorTextPrimary;
        font-size: 26px;
        font-weight: 500pt;
        margin-bottom: 32px;

        @media (min-width: 768px){
            font-size: 32px;
            margin-bottom: 0;
        }

        @media ($desktop){
            font-size: 36px;
        }
    }
}