@import '../../theme.scss';


.Course {

    &:hover {
        .Course-Figure {
            box-shadow: 0 3px 6px $boxShadowPrimary, 0 3px 6px $boxShadowSecondary;
        }

        .Course-Img {
            transform: scale(1.05);
         }

         .Course-Title {
            color: $colorPrimary;
         }
    }

    &-Figure {
        width: 100%;
        height: 245px;
        border-radius: 16px;
        overflow: hidden;
        margin-bottom: 16px;
        transition: all 0.3s;

        @media ($mobileLarge){
            height: 275px;
        }

        @media ($tabletSmall){
            height: 200px;
        }

        @media ($tablet){
            height: 275px;
        }
        
        @media ($desktop){
            height: 230px;
        }
        
        @media ($desktopLarge){
            height: 255px;
        }
    }
    
    &-Img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-out;
    }
    
    &-Title {
        font-size: 20px;
        font-weight: 500;
        color: $colorTextPrimary;
        text-align: center;
        margin-bottom: 8px;
        transition: color 0.3s ease-out;
    }
    
    &-Subtitle {
        font-size: 16px;
        font-weight: 300;
        color: $colorTextSecondary;
        text-align: center;
    }
}