@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&family=PT+Serif:wght@400;700&display=swap');


$fontPrimary: 'Manrope', 'sans-serif';
$fontSecondary: 'PT Serif', 'serif';

$colorPrimary:#bf3939;
$colorSecondary:#ffffff;
$colorBlack:#000000;
$colorBgPrimary:#ffffff;
$colorBgSecondary: #F6FAFB;
$colorTextPrimary: #333333;
$colorTextSecondary: #696969;

$boxShadowPrimary: rgba(0,0,0,0.16);
$boxShadowSecondary: rgba(0,0,0,0.23);

$mobileLarge: 'min-width: 375px';
$tabletSmall: 'min-width: 481px';
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';
$desktopLarge: 'min-width: 1300px';